<div class="question" value="0" hidden>
<br />
<div class="form-group">
    <div class="col-lg-12">
        <button type="button" class="close pull-right" data-toggle="tooltip" data-placement="right" title="Delete question">&times;</button>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-12">
        <input class="form-control" name="newQuestion" placeholder="Enter question">
    </div>
</div>
<div class="form-group">
    <div class="col-lg-12">
        <div class="input-group">
            <span class="input-group-addon">
                <input type="radio" name="qRadio0" value="choice1" checked>
            </span>
            <input type="text" name="choice1" class="form-control" placeholder="Choice 1">
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <input type="radio" name="qRadio0" value="choice2">
            </span>
            <input type="text" name="choice2" class="form-control" placeholder="Choice 2">
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <input type="radio" name="qRadio0" value="choice3">
            </span>
            <input type="text" name="choice3" class="form-control" placeholder="Choice 3">
        </div>
        <div class="input-group">
            <span class="input-group-addon">
                <input type="radio" name="qRadio0" value="choice4">
            </span>
            <input type="text" name="choice4" class="form-control" placeholder="Choice 4">
        </div>
    </div>
</div>
</div>
